*.pyc
lib/*
.DS_Store
.idea/
*.sw[mnop]
__pycache__/*
*~
virtual_env/*
env/*
venv/*
*.sw[mnop]
ev_sa/*
token.pickle
containers/*
build/*
fashion_mnist.egg-info/*
clothes_mode/*
dist/*
clothes_model/*
keras_model/*
service-key.json
