*.pyc
lib/*
.DS_Store
.idea/
*.sw[mnop]
__pycache__/*
*~
virtual_env/*
env/*
venv/*
*.sw[mnop]
ev_sa/*
token.pickle
containers/*
build/*
fashion_mnist.egg-info/*
clothes_mode/*
dist/*
clothes_model/*
project/testkeras/*
project/ml_training/testkeras/*
*/testkeras/*
*/service-key.json
service-key.json
*/build/*
*/dist/*
*/fashion_mnist.egg-info/*
project/ml_training/model_doc/clothes_model/*
project/ml_training/model_doc/model/
project/ml_training/model_test/
project/ml_training/model_doc/model_walkthrough/
project/ml_training/model_doc/model_minist/
model_trained/